<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <!-- Cache setting -->
  <meta http-equiv="cache-control" content="no-cache">
  <meta http-equiv="pragma" content="no-cache">
  <meta http-equiv="expires" content="0">

  <!-- Preview -->
  <title>DD Tools</title>
  <!-- Preview: Primary Meta Tags -->
  <meta name="title" content="Arce0406 | DD Tools">
  <meta name="description"
    content="Use WebRTC, capture the signal from the capture card and display it on the web page.">

  <!-- Theme CSS -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css" />
  <link rel="stylesheet"
    href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
  <link rel="stylesheet" href="css/main.css" />
</head>

<body class="has-background-light">

  <!-- Modal: Merge & Import -->
  <div class="modal" id="modal_import" data-mode="">
    <div class="modal-background"></div>
    <div class="modal-card">

      <!-- modal card header -->
      <header class="modal-card-head">
        <span class="material-symbols-outlined mr-2">
          mediation
        </span>
        <p class="modal-card-title">
          Import
        </p>
        <button class="delete" aria-label="close"></button>
      </header>

      <!-- modal card body -->
      <div class="modal-card-body">

        <div class="block">

          <div class="is-flex is-justify-content-space-around">
            <p class="title">
              Old
            </p>
            <p class="title">
              New
            </p>
          </div>

          <hr class="mt-0">

          <div class="radio-item-row">
            <label class="radio-item box">
              <p>
                <strong>Title</strong>
                <br>
                Content
              </p>
              <input type="radio" name="a1">
            </label>
            <label class="radio-item box">
              <p>
                <strong>Title</strong>
                <br>
                Content
              </p>
              <input type="radio" name="a1" checked>
            </label>
          </div>

        </div>
      </div>

      <!-- modal card footer -->
      <footer class="modal-card-foot is-justify-content-space-between">
        <div class="left">
          <button class="button is-danger is-outlined is-edit-mode d-none">
            <span>Delete</span>
            <span class="icon is-small">
              <i class="material-symbols-outlined">
                delete
              </i>
            </span>
          </button>
        </div>
        <div class="right">
          <button class="button btn-save is-success">Save changes</button>
          <button class="button btn-cancel">Cancel</button>
        </div>
      </footer>

    </div>
  </div>

  <!-- Modal: Tag add/edit -->
  <div class="modal" id="modal_tag" data-mode="">
    <div class="modal-background"></div>
    <div class="modal-card">
      <!-- modal card header -->
      <header class="modal-card-head is-add-mode">
        <span class="material-symbols-outlined mr-2">
          add
        </span>
        <p class="modal-card-title">
          Add
        </p>
        <button class="delete" aria-label="close"></button>
      </header>
      <header class="modal-card-head is-edit-mode d-none">
        <span class="material-symbols-outlined mr-2">
          edit
        </span>
        <p class="modal-card-title">
          Edit
        </p>
        <button class="delete" aria-label="close"></button>
      </header>
      <!-- modal card body -->
      <div class="modal-card-body">
        <div class="field">
          <label class="label">Title</label>
          <div class="control">
            <input id="modal_input_title" class="input" type="text" placeholder="Text input">
          </div>
        </div>
        <div class="field">
          <label class="label">Content</label>
          <div class="control">
            <input id="modal_input_content" class="input" type="text" placeholder="Text input">
          </div>
        </div>
      </div>
      <!-- modal card footer -->
      <footer class="modal-card-foot is-justify-content-space-between">
        <div class="left">
          <button class="button btn-delete is-danger is-outlined is-edit-mode d-none">
            <span>Delete</span>
            <span class="icon is-small">
              <i class="material-symbols-outlined">
                delete
              </i>
            </span>
          </button>
        </div>
        <div class="right">
          <button class="button btn-save is-success">Save changes</button>
          <button class="button btn-cancel">Cancel</button>
        </div>
      </footer>
    </div>
  </div>

  <!-- Navbar -->
  <nav class="navbar main-navbar has-border shadow-light is-fixed-top">
    <div class="navbar-brand">
      <a class="navbar-item title mb-0" href="#">
        DD Tools
      </a>
      <div class="navbar-burger" data-target="navMenuMain">
        <span></span>
        <span></span>
        <span></span>
      </div>
    </div>

    <div id="navMenuMain" class="navbar-menu">
      <div class="navbar-start">

      </div>

      <div class="navbar-end">
        <div class="navbar-item">
          <div class="tabs is-toggle">
            <ul>
              <li class="is-active" data-target="section1" data-group="section"><a>コール Storage</a></li>
              <li data-target="section2" data-group="section"><a>Twitter Spaces CC Expander</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </nav>

  <!-- section: コール Storage -->
  <section class="section tab-panel is-active" id="section1" data-group="section">
    <main class="box">

      <!-- Title & Toolbar -->
      <div class="field is-grouped">
        <p class="control title is-4 is-expanded">
          コール Storage
        </p>
        <p class="control d-none">
          <a id="btn-download" class="button is-white mb-0">
            <span class="icon">
              <i class="material-symbols-outlined">
                download
              </i>
            </span>
          </a>
        </p>
        <p class="control">
          <a id="btn-import" class="button is-white mb-0">
            <span class="icon">
              <i class="material-symbols-outlined">
                mediation
              </i>
            </span>
          </a>
        </p>
        <p class="control">
          <button id="btn-share" class="button is-white mb-0">
            <span class="icon">
              <i class="material-symbols-outlined">
                share
              </i>
            </span>
          </button>
        </p>
      </div>

      <!-- Search bar -->
      <p class="control has-icons-left is-expanded">
        <input id="input_search" class="input" type="text" placeholder="Conditions">
        <span class="icon is-small is-left">
          <span class="material-symbols-outlined mr-0">
            search
          </span>
        </span>
      </p>

      <hr>

      <!-- Items -->
      <div id="call-blocks" class="columns is-multiline block p-3">

        <!-- Items add -->
        <div class="column is-3 is-func">
          <div class="card">
            <div class="card-content">
              <div class="content">
                <div class="is-flex is-justify-content-space-between is-align-content-center">
                  <p class="title is-4">
                    Add
                  </p>
                  <button class="button is-white btn-add" aria-label="edit">
                    <span class="icon">
                      <i class="material-symbols-outlined">
                        add
                      </i>
                    </span>
                  </button>
                </div>
                Add New Item
              </div>
            </div>
          </div>
        </div>

        <div class="column is-3 is-public">
          <div class="card" data-title="Clap" data-content="👏👏👏">
            <div class="card-content">
              <div class="is-flex">
                <p class="title is-4 is-flex-grow-1">
                  Clap
                </p>
                <button class="button is-white btn-edit" aria-label="edit">
                  <span class="icon">
                    <i class="material-symbols-outlined">
                      edit
                    </i>
                  </span>
                </button>
                <button class="button is-white btn-copy" aria-label="copy">
                  <span class="icon is-small">
                    <i class="material-symbols-outlined">
                      content_copy
                    </i>
                  </span>
                </button>
              </div>
              <div class="content">
                👏👏👏
              </div>
            </div>
          </div>
        </div>

      </div>

    </main>

  </section>

  <!-- notification -->
  <div id="notifiy" class="notification-wrapper">
    <div class="notification is-info">
      <button class="delete"></button>
      <p></p>
    </div>
  </div>

  <!-- Scripts -->
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"
    integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
  <script src="js/navbar.js"></script>
  <script src="js/message.js"></script>
  <script src="js/tab.js"></script>
  <script src="js/panel.js"></script>
  <script type="module" src="./js/main.js"></script>
  <script type="module" src="./js/main2.js"></script>
</body>

</html>